body {
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #sphereCanvas {
  top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index:-1;
}

.slider-container {
  color: white;
  position: absolute;
  top: 100px;
  left: 10px;
  display: flex;
  flex-direction: column;
}

.slider-label {
  margin-bottom: 5px;
} */

.ful {
  width: 80vw;
  height:90vh;
  margin-left: 10vw;
  margin-top:60px;
}

img {
  width: 50vw;
  height: auto;
  margin-top: 70px;
  margin-left: 25vw;
  padding: 50px;
}