<div class="total">
  <img src="../../../assets/cognitive.png">
  <img src="../../../assets/Electron_orbitals.svg">
  <iframe class="ful" src="../../../assets/eyeball/atomic.html"></iframe>
</div>
<!-- <div id="sphereCanvas"></div>
    <div class="slider-container">
      <label class="slider-label" for="sliderX">Move X:</label>
      <input id="sliderX" type="range" min="-5" max="5" step="0.1">
      <label class="slider-label" for="sliderY">Move Y:</label>
      <input id="sliderY" type="range" min="-5" max="5" step="0.1">
      <label class="slider-label" for="sliderRot">Rotate:</label>
      <input id="sliderRot" type="range" min="-3.14" max="3.14" step="0.01">
    </div> -->
