body {
    margin: 0;
    overflow: hidden;
    position: relative;
    
  }
.cube {
    position: absolute;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
