* {
    margin: 0;
    overflow: hidden;
  }

  canvas {
    display: block;
  }

  .info {
    position: absolute;
    padding: 4px;
    font-size: 12px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    width: fit-content;
    text-align: center;
    z-index: 100;
    display: block;
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.254);
    border: solid 2px #767676;
    border-radius: 5px;
  }