

.main {
  display: flex;
  flex-direction: column;
    margin: 0;
    padding:0;
    width: 100%;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .container {
    /*     width: 99vw;
    height: 70vh;
    background-image: url('/assets/galaxy_bigstar.png');
    background-size: 20vh;
    background-repeat: no-repeat;
    background-position: center; */
    opacity: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
  }
  
  canvas {
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
  }

  #youtube {
    position: relative;
    margin-top: 50px;
    padding:20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    opacity: 100%;
    letter-spacing: 7px;
    word-spacing: 12px;
    text-transform: uppercase;
    color:rgb(253, 216, 0);
    -webkit-text-fill-color:color-mix(in srgb-linear, #a70c0c percentage, #f30ad800 percentage);
    -webkit-text-stroke-width: 2px;
  }
  .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
  }


  .backbutton {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
a {
  font-weight: 100;
  font-size: 1vw;
  color: aliceblue;
  text-decoration: none;
  text-decoration-style: none;
  stroke: none;
}

.heading {
  font-size: 4vw;
  padding:20px;
  align-items: center;
}